<!doctype html>
<html lang="de">

	<head>
	    <!-- Benötigte meta tags. Kurz gehalten, da WebApp vorerst nicht online geht und nur für ausgewählte Personen zur Verfügung steht.-->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Eigene CSS -->
	    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> 

	    <!-- Import Bootstrap stylesheet -->
	    <link rel="stylesheet" href="{{ url_for('static', filename='bbootstrap.min.css') }}">

	    <!--Icon in Tab-->
	    <link rel="icon" href="/jpgs/logo.jpg">

    </head>