<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index')">Planungshöck</a>
        <img src="/jpgs/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="logo waerrenfels">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navabr-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('overview_termine') }}">Übersicht</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('termin_erfassen') }}">Neuer Eintrag</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('kalender_export') }}">Export Kalender</a>
            </li>
            
        </ul>
    </div>
</nav>
