{% include "header.html" %}
<!--Header eingefügt, damit Anpassungen nicht in allen .hmtl vorgenommen werden müssen-->

<body>
	<div class="container">
		<h2>Übersicht aller erfassten Termine</h2>
			<br>
		<!-- Flash-Nachricht einbinden, welche bei Action erscheint -->
		{% with messages = get_flashed_messages() %}
  			{% if messages %}
 				{% for message in messages %}
   					<div class="alert alert-danger" role="alert">
   						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block body %}{% endblock %}
	<form action="{{ url_for('overview') }}" method="POST">
      <table class="table table-bordered table-hover table-striped" >
        <thead>
          <tr> 
            <th data-field="date" data-sortable="true" data-sort-name="id" data-sort-order="desc">Datum</th>
            <th data-field="aktivität">Aktivität</th>
            <th data-field="beginn">Beginn</th>
            <th data-field="ende">Ende</th>
            <th data-field="tn">TN Stufe</th>
            <th data-field="verantwortlich">Verantwortlich</th>
            <th data-field="löschen">Löschen</th>
          </tr>
        </thead>
        <tbody>



          <!-- Füllt Tabelle mitttels For-Schleife mit allen Einträgen welche in aktueller json-Datei sind. -->
          {%for data in jahresplan.values()%}
          <tr>
            <td>{{data["Datum"]}}</td>
            <td>{{data["Aktivität"]}}</td>
            <td>{{data["Beginn"]}}</td>
            <td>{{data["Ende"]}}</td>
            <td>{{data["Stufe TN"]}}</td>
            <td>{{data["Verantwortung"]}}</td>
            <td>
            	<input class="form-control" type = "radio" name = "eintrag" value = "{{data['Aktivität']}}" /></td>	
          </tr>
         {% endfor %}

         
        </tbody>
      </table>
      <p align = "right"><input type = "submit" value = "löschen" class="btn btn-outline-danger" role="button"></p>
		</body>
	</div>	
</html>