{% include "header.html" %}
<!-- {% block title %}Aktivität erfassen{% endblock %} -->
<!--Header eingefügt, damit Anpassungen nicht in allen .hmtl vorgenommen werden müssen-->
	<body>
		<div class = "container">

			<h2>Aktivität für den Jahresplaner erfassen</h2>
			<br>
      <!-- Flash-Nachricht einbinden, welche bei Action erscheint -->
         {% with messages = get_flashed_messages() %}
  			{% if messages %}
 				{% for message in messages %}
   					<div class="alert alert-success" role="alert">
   						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block body %}{% endblock %}
			<form action="{{ url_for('erfassen') }}" method="POST">
      <!-- Beinhaltet alle relevanten Informationen, die vom User eingegeben werden müssen.-->
			<input class="form-control" type = "text" name = "aktivitaet" placeholder="Bitte Aktivität eintragen" required />
			<br><label for="datum">Datum der Aktivität</label>
			<input class="form-control" type = "date" name = "datum" required />
			<br><label for="beginn">Beginn (ungefähr geplant)</label>
			<input class="form-control" type = "time" name = "beginn"/>
			<br><label for="ende">Ende (ungefähr geplant)</label>
			<input class="form-control" type = "time" name = "ende"/>
			<br><label for="verantwortung">Wer ist verantwortlich</label>
			<br><div class="input-group mb-3">
			<br><div class="input-group-prepend">
  					<select class="custom-select" name="verantwortung">
					    <option selected>...</option>
					    <option value="Abteilungsleitung">Abteilungsleitung</option>
						<option value="Rover- und Pioleitung">Rover- und Pioleitung</option>
					    <option value="Leiter">Leiter</option>
					    <option value="Vorstand">Vorstand</option>
					    <option value="Pios">Pios</option>
				 	 </select>
				</div>
				</div>
			<br>
  				<h4>Teilnehmer Stufe</h4>
  				<div class="form-check">
  					<input class="form-check-input" type="checkbox" name = "beteiligt" value="Biberstufe" id="defaultCheck2">
  					<label class="form-check-label" for="defaultCheck2">Biberstufe</label>
  				</div>
  				<div class="form-check">	
  					<input class="form-check-input" type="checkbox" name = "beteiligt" value="Wolfstufe" id="defaultCheck3">
  					<label class="form-check-label" for="defaultCheck3">Wolfstufe</label>
  				</div>	
  				<div class="form-check">
  					<input class="form-check-input" type="checkbox" name = "beteiligt" value="Pfadistufe" id="defaultCheck4">
  					<label class="form-check-label" for="defaultCheck4">Pfadistufe</label>
  				</div>	
  				<div class="form-check">	
  					<input class="form-check-input" type="checkbox" name = "beteiligt" value="Piostufe" id="defaultCheck5">
  					<label class="form-check-label" for="defaultCheck5">Piostufe</label>
				</div>	
				<div class="form-check">
  					<input class="form-check-input" type="checkbox" name = "beteiligt" value="Leiter" id="defaultCheck2">
  					<label class="form-check-label" for="defaultCheck2">Aktive Leiter</label>
  				</div>
  				<div class="form-check">  					
  					<input class="form-check-input" type="checkbox" name = "beteiligt" value="Roverstufe" id="defaultCheck6">
  					<label class="form-check-label" for="defaultCheck6">Roverstufe</label>
  				</div>	
  				<div class="form-check">	
  					<input class="form-check-input" type="checkbox" name = "beteiligt" value="Vorstand" id="defaultCheck7">
  					<label class="form-check-label" for="defaultCheck7">Vorstand</label>
  				</div>
        	</br><input class="btn btn-outline-info" type="submit" value="Speichern">
         </form>
         <br>

        </div>
	</body>
</html>	